// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Custom CSS

.content-wrapper { background: #fafafa; }
.box {
	border-top:0;
	border:1px solid #dededf !important;
	border-radius: 0;
	box-shadow: 0 1px 3px 0px rgba(0,0,0,0.1);
}

.box-header { background: #f7f7f7; }
.box-header .box-title {}

.box-body { padding-top:20px; padding-bottom:20px; }

th.hide-order.sorting {
	visibility: hidden;
}
// Double Scrollbar
.wrapper{height:100%;position:relative;overflow-x:hidden;overflow-y:hidden}